---
// Libreries
import { Image } from 'astro:assets';
// Components
import Text from '@/components/Text/Text.astro';
// Utils
import { cn } from '@/lib/utils';
import type { ProjectType } from '@/lib/types';
// Assets
import githubSVG from '@/assets/gh.svg';

export interface Props extends ProjectType {
  className?: string;
  index?: number;
}

const {
  title,
  autor,
  description,
  stack,
  image,
  index,
  className,
  pj_link,
} = Astro.props;

const default_colors = [
  "bg-blue-950",
  "bg-green-950",
  "bg-amber-950",
  "bg-emerald-950",
];
const colorIndex =
  !index && index !== 0 ? 1 : index % default_colors.length;
---

<div
  class={cn(
    "flex flex-row items-center gap-4 rounded-lg border border-neutral-700 p-4",
    className,
  )}
>
  {
    image ? (
      <Image
        src={image}
        width={208}
        height={208}
        alt={title}
        class="w-52 h-52 object-cover"
      />
    ) : (
      <div
        class={cn(
          default_colors[colorIndex],
          "hidden md:flex w-24 h-24 md:w-52 md:h-52 justify-center items-center",
        )}
      >
        <Image
          src={githubSVG}
          alt="no project reference"
          class="brightness-0 invert opacity-80"
          loading="lazy"
        />
      </div>
    )
  }

  <div class="flex flex-1 flex-col justify-center gap-y-3">
    <div class="flex justify-between items-center w-full">
      <h3 class="text-lg font-bold">{title}</h3>
      <Text
        variant="a"
        aria-label='projct link'
        className="w-6 h-6 hover:bg-neutral-700 hover:cursor-pointer flex items-center justify-center rounded-full"
        link={pj_link}

      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="w-4 h-4 text-neutral-400"
        >
          <path d="M6 6v2h8.59L5 17.59 6.41 19 16 9.41V18h2V6z" />
        </svg>
      </Text>
    </div>

    <p class="text-sm text-neutral-400">{description}</p>

    <div class="justify-between flex items-center">
      <div class="flex flex-wrap gap-2 mt-1">
        {stack.map((tech) => (
          <span
            class="bg-transparent ring-1 ring-neutral-700 px-2 py-0.5 text-xs"
          >
            {tech}
          </span>
        ))}
      </div>
      <Text
        variant="a"
        link={autor.link}
        className="text-xs hover:underline text-emphasis-secondary"
      >
        @{autor.name.toLocaleLowerCase()}
      </Text>
    </div>
  </div>
  <slot />
</div>
